@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F9F9F9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.connect {
  background-color: #0861FA;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.5s;
  font-weight: bold;
}

button.connect:hover {
  background-color: #fff;
  color: #0861FA;
  border: 2px solid #fff;
  font-weight: bold;
}
.css-55ygxk:focus:after, .css-1bnwz7w:focus:after {
  border: none !important;
}
.css-1k4oq5h {
  color: #fff !important;
}
button.connect:hover .css-1k4oq5h, button.connect:hover .css-9y9lc8 {
  color: #000 !important;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
